* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body{
    background-image: url("../media/homeWallpaper.jpg");
    background-size: cover;
  }

.cardContainers {
    margin-top: 120px;
}
.card{
    margin: 30px;
}
.card:hover{
    cursor: pointer;
}